@import 'http://d28jwxax66qfwz.cloudfront.net/adfonts.css';

html,
body {
  background:none;
  border:0;
  clip:auto;
  display:block;
  height:auto;
  margin:0;
  padding:0;
  position:static;
  width:auto
}

[class^="grid__col"]:after {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-color: #EEF2F4;
  margin-bottom: 20px;
}

[class*="grid--align-"] [class^="grid__col"]:first-child:after {
  height: 120px;
}

/** BASELINE GRIDS FOR TYPOGRAPHY EXAMPLE **/

:root {
  --baseline-grid-color: rgba(0,0,0,0.2);
  --baseline-grid-size: 24px;
}

.sg-example--typography body,
.sg-example--typography-utilities body {
  position: relative;
}

.sg-example--typography body:after,
.sg-example--typography-utilities body:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--baseline-grid-color) 1px,
    transparent 1px
  );
  background-size: 1px var(--baseline-grid-size);
}

.sg-example--typography body:active:after,
.sg-example--typography-utilities body:active:after {
  display: none;
}
