:root {
  --base-font-size-1: 1rem;
  --base-font-size-2: 1rem;
  --base-line-height: 1.5;
  --h1-font-size: 2em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.25em;
  --h4-font-size: 1.125em;
  --h5-font-size: 1em;
  --h6-font-size: 0.875em;
  --small-font-size: 0.75em;

  --h1-line-height: 1.5;
  --h2-line-height: 1;
  --h3-line-height: 1.2;
  --h4-line-height: 1.33333333333333;
  --h5-line-height: 1.5;
  --h6-line-height: 1.71428571428571;
  --small-line-height: 2;

  --h1-margin: 0.75em;
  --h2-margin: 1em;
  --h3-margin: 1.2em;
  --h4-margin: 1.33333333333333em;
  --h5-margin: 1.5em;
  --h6-margin: 1.71428571428571em;
  --small-margin: 2em;
}
