@import 'rhythmcss';
@import 'settings';
/*@import 'rhythmcss-baseline';*/

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
  color: #393939;
}

h3 {
  @apply --h4;
  font-style: italic;
  color: #455A64;
}

.sg-masthead {
  background-color: #563F80;
  padding: var(--half-spacing-unit) 0;
  margin-bottom: var(--base-spacing-unit-x2);
}

.sg-masthead__logo {
  width: 5.75em;
  margin: 0 auto;
}

.sg-menu {
  position: fixed;
}

  .sg-menu__title {
    font-weight: 600;
    margin-top: 1.5em;
    display: block;
  }
    .sg-menu__title:first-of-type {
      margin-top: 0;
    }

  .sg-menu__item {
    text-decoration: none;
    display: block;
    transition: all 0.2s;
    color: #999;
  }
    .sg-menu__item:hover {
      border-left: 0.25em solid #563F80;
      padding: 0 0.5em;
    }

iframe {
  border: none;
  width: 100%;
}

.sg-section {
  margin-bottom: var(--base-spacing-unit-x3);
}

.markdown-body p {
  @apply --h6;
}

:root {
  --swatch-height: calc(var(--base-spacing-unit) * 5);
}

.colors {
  margin-bottom: var(--base-spacing-unit);
}
.colors + pre {
  display: none;
}

.color {
  &:first-child .color-swatch {
    border-radius: 8px 8px 0 0;
  }
  &:last-child .color-swatch {
    border-radius: 0 0 8px 8px;
  }
}

.color-swatch {
  text-align: center;
  color: #FFF;
  padding: var(--half-spacing-unit) 0;
  text-shadow: 1px 0 1px rgba(0,0,0,0.35);
}

.docs-example {
  margin-bottom: var(--base-spacing-unit);
}

.example-code {
  background: #455A64;
  border-radius: 4px;
  color: #EEF2F4;
  padding: var(--half-spacing-unit) var(--base-spacing-unit);
  position: relative;
  transition: all 0.5s ease;
  margin-bottom: var(--base-spacing-unit-x2);

  & .example-code__toggle {
    display: block;
    float: right;
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 1px #FFF;
    padding: 0 0.5em;
    border-radius: 3px;
    font-size: 0.75em;
    height: 2em;
    line-height: 2em;
    cursor: pointer;

    &:before {
      content: 'Show Code';
    }
  }
}

.example-code__pre {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: all 0.5s ease;
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  margin: 0;

  & code {
    width: 100%;
  }
}

.example-code--is-open {
  & .example-code__pre {
    opacity: 1;
    max-height: 800px;
    overflow: auto;
  }

  & .example-code__toggle:before {
    content: 'Hide Code';
  }
}

.example-code--is-hidden {
  display: none;
}

pre + h3 {
  padding-top: var(--base-spacing-unit);
}
